* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    font-size: 18px;
}

.header {
   background-image: url(images/bg1.png);
    background-size: cover;
    height: 580px;
}

.container {
   width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}
.logo {
   max-width: 30%;
    flex-basis: 30%;
}

.logo h1 {
    
}
.menu {
    max-width: 70%;
    flex-basis: 70%;
    font-weight: bold;
}

.menu ul {
    display: flex;
    justify-content: flex-end;
}

.menu ul li {
    list-style-type: none;
    padding-right: 50px;
}

.menu ul li a {
    text-decoration: none;
    transition: ;
    color: #000;
    transition: 0.4s all ease;
}

ul li:hover a {
   color: #3FA9F5;
}

.header-content {
    width: 900px;
    margin: 0 auto;
    margin-left: 121px;
}

.header-content h3 {
    color: #000;
    padding-top: 140px;
    font-weight: 200;
    font-size: 20px;
    padding-bottom: 8px;
}

.header-content h1 {
    color: #000;
    font-size: 40px;
}

.header-content h2 {
    color: #3FA9F5;
    font-size: 40px;
    padding-bottom: 8px;
}

.header-content p {
    font-size: 10px;
    color: #A9B2C3;
    width: 180px;
    padding-bottom: 20px;
}

button {
    padding: 8px 26px;
    border: 1px solid #000;
    border-radius: 25px;
    font-weight: 600;
    background-color: #fff;
    color: #626982;
}

button:hover {
    background-color: #3FA9F5;
    color: #fff;
    border: 1px solid #fff;
     transition: 0.4s all ease;
}

























